/* Put a red border around boxes to show layout on page.
 * Used only for development and testing.
 */
* {
  /*border: 1px solid red !important;*/
}

/* When calculating box sizes, include the padding, border and margin
 * with content.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

/* Basic 12 column grid framework to set layout of elements on page.
 */
.grid {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.placeholder {
  background-color: #ff4d4d;
  color: white;
  padding: 50px;
  margin-top: 100px;
}
